<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
<div class="form">
    <form class="login-form" action="" method="post" enctype="multipart/form-data">
        <h2>Register</h2>
        <div class="icons">
            <a href="www.facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="www.google.com"><i class="fa fa-google" ></i></a>
            <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
        </div>
        <input type="text" name="name"  placeholder="Name" required>
        <input type="email" name="email" placeholder="Email"  required>
        <input type="text" name="phone" placeholder="Contact No."  required>
        <input type="password" name="password" placeholder="Password"  required>
        <input type="file" name="ProfileImage"  placeholder="ProfileImage">
        <button type="submit" name="button">Register</button>
        <p class="options">Already have an account?<a href="/users/login">Sign in</a></p>
    </form>
</div>
</body>
</html>