<!DOCTYPE html>
<html>
    <head>
        <title>
            Uploads here
        </title>
    </head>
    <body>
        You uplods goes here
        <form action="/upload" method="POST"  enctype="multipart/form-data">
            <input type="file" name="my-upload" placeholder="upload your file"><br>
        <button type="submit">Upload</button>
        </form>
        <in
    </body>
</html>